<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>  User <%= @reaction.user.name %> has reacted to your post
    at <%= distance_of_time_in_words(@reaction.created_at, Time.zone.now)%> ago
    </p>
  </body>
</html>
