// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.exports {
  background-color: white;
  border: 2px solid #337ab7;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.exports:hover {
  background-color: yellow;
}
